apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "package-broker.fullname" . }}
  labels:
    {{- include "package-broker.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "package-broker.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "package-broker.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "package-broker.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: DB_DRIVER
              value: {{ .Values.env.DB_DRIVER | quote }}
            - name: DB_URL
              value: {{ .Values.env.DB_URL | quote }}
            - name: STORAGE_DRIVER
              value: {{ .Values.env.STORAGE_DRIVER | quote }}
            - name: STORAGE_PATH
              value: {{ .Values.env.STORAGE_PATH | quote }}
            - name: CACHE_DRIVER
              value: {{ .Values.env.CACHE_DRIVER | quote }}
            - name: QUEUE_DRIVER
              value: {{ .Values.env.QUEUE_DRIVER | quote }}
            - name: API_URL
              value: {{ .Values.env.API_URL | quote }}
            - name: PUBLIC_DIR
              value: {{ .Values.env.PUBLIC_DIR | quote }}
            {{- range $key, $val := .Values.extraEnv }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
          volumeMounts:
            {{- if .Values.persistence.enabled }}
            - name: data
              mountPath: {{ .Values.persistence.path }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        {{- if .Values.persistence.enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "package-broker.fullname" . }}-data
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
